Repository grok-rs/gitk-rs: changes, and which Codecov flags are due for each by the changed paths.
All: git, ui, security, integration

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  # Coverage status and behavior
  status:
    # Project coverage status
    project:
      default:
        target: 80%              # Target coverage percentage
        threshold: 1%            # Allowed coverage drop
        base: auto               # Base coverage reference
        if_ci_failed: error      # Fail if CI failed
        informational: false     # Make status informational only
        only_pulls: false        # Run on all commits, not just PRs
      
      # Additional project status for stricter requirements
      strict:
        target: 85%
        threshold: 0.5%
        base: auto
        if_ci_failed: error
        paths:
          - "src/git/"           # Core Git operations
          - "src/security/"      # Security modules
    
    # Patch coverage status (new code in PRs)
    patch:
      default:
        target: 90%              # Higher target for new code
        threshold: 1%
        base: auto
        if_ci_failed: error
        only_pulls: true         # Only for pull requests

  # Coverage precision and rounding
  precision: 2
  round: down
  range: "70...100"

# Comment configuration
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  branches:
    - main
    - develop

# GitHub integration
github_checks:
  annotations: true

# Ignore paths for coverage calculation
ignore:
  - "tests/"                    # Test files
  - "benches/"                  # Benchmark files
  - "examples/"                 # Example code
  - "target/"                   # Build artifacts
  - "**/*.md"                   # Documentation files
  - "**/mod.rs"                 # Module declaration files (usually just re-exports)
  - "src/main.rs"               # Main entry point (minimal logic)

# Flag configuration for different parts of the codebase
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: 80%
      - type: patch
        target: 90%

flags:
  # Core Git operations
  git:
    paths:
      - src/git/
    carryforward: true
    
  # User interface components  
  ui:
    paths:
      - src/ui/
    carryforward: true
    
  # Security modules
  security:
    paths:
      - src/git/security.rs
    carryforward: true
    
  # Integration tests
  integration:
    paths:
      - tests/
    carryforward: false

# Pull request behavior
pull_request_rules:
  rules:
    - name: "Require tests for new features"
      conditions:
        - changed_files:
            paths:
              - "src/**/*.rs"
      actions:
        comment:
          message: "Please ensure new features include comprehensive tests."
    
    - name: "Security review required"
      conditions:
        - changed_files:
            paths:
              - "src/git/security.rs"
              - "src/git/repository.rs"
      actions:
        comment:
          message: "This PR modifies security-critical code. Additional security review is required."

# Notification settings
notifications:
  email: false
  slack: false
  gitter: false

# Codecov uploader configuration
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

fix: improve graph display and diff viewer layout for better usability
  src/ui/commit_graph.rs
  src/ui/diff_viewer.rs
  src/ui/graph.rs
  src/ui/main_window.rs
Due: ui

feat: [] Add tracing logs
  src/git/security.rs
  src/git/stream.rs
  src/state/app_state.rs
Due: git, security

feat: downgrade Rust edition from 2024 to 2021
  .github/workflows/ci.yml
  Cargo.toml
  benches/commit_streaming.rs
  benches/git_operations.rs
  benches/ui_rendering.rs
  clippy.toml
  src/git/commands.rs
  src/git/error_handling.rs
  src/git/operations.rs
  src/git/platform_security.rs
  src/git/references.rs
  src/git/repository.rs
  src/git/security.rs
  src/git/tags.rs
Due: git, security

fix: resolve CI check failures for Rust 2024 edition
  benches/commit_streaming.rs
  benches/git_operations.rs
  benches/ui_rendering.rs
  deny.toml
  rustfmt.toml
  src/app.rs
  src/git/commands.rs
  src/git/commit.rs
  src/git/commits.rs
  src/git/diff.rs
  src/git/error_handling.rs
  src/git/mod.rs
  src/git/operations.rs
  src/git/platform_security.rs
  src/git/references.rs
  src/git/remotes.rs
  src/git/repository.rs
  src/git/security.rs
  src/git/stash.rs
  src/git/stream.rs
  src/git/tags.rs
  src/git/views.rs
  src/lib.rs
  src/main.rs
  src/models/commit.rs
  src/models/mod.rs
  src/models/repository.rs
  src/state/app_state.rs
  src/state/config.rs
  src/state/mod.rs
  src/ui/commit_graph.rs
  src/ui/diff_viewer.rs
  src/ui/graph.rs
  src/ui/main_window.rs
  src/ui/mod.rs
  src/ui/references.rs
  src/ui/search.rs
  src/ui/views.rs
  tests/integration/main.rs
Due: git, ui, security

fix: update GitHub Actions workflows and resolve CI issues
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Cargo.toml
  clippy.toml
  src/git/stream.rs
  src/state/app_state.rs
  src/ui/graph.rs
  tests/integration/main.rs
Due: git, ui

fix formatting
  src/ui/diff_viewer.rs
Due: ui

fix clippy issues
  src/app.rs
  src/git/commands.rs
  src/git/commit.rs
  src/git/commits.rs
  src/git/error_handling.rs
  src/git/mod.rs
  src/git/operations.rs
  src/git/platform_security.rs
  src/git/references.rs
  src/git/remotes.rs
  src/git/repository.rs
  src/git/security.rs
  src/git/stash.rs
  src/git/tags.rs
  src/state/app_state.rs
  src/ui/commit_graph.rs
  src/ui/diff_viewer.rs
  src/ui/graph.rs
  src/ui/main_window.rs
  src/ui/references.rs
  src/ui/views.rs
Due: git, ui, security

fix formatting
  src/git/tags.rs
  src/ui/diff_viewer.rs
Due: git, ui

fix formatting
  Cargo.toml
  benches_disabled/commit_streaming.rs
  benches_disabled/git_operations.rs
  benches_disabled/ui_rendering.rs
  src/app.rs
  src/git/commands.rs
  src/git/commits.rs
  src/git/error_handling.rs
  src/git/mod.rs
  src/git/stash.rs
  src/git/tags.rs
  src/lib.rs
  src/main.rs
  src/ui/commit_graph.rs
  src/ui/diff_viewer.rs
  src/ui/graph.rs
  src/ui/main_window.rs
  src/ui/mod.rs
  src/ui/search.rs
  src/ui/views.rs
  tests_disabled/fixtures/README.md
  tests_disabled/fixtures/mock_data/sample_commits.json
  tests_disabled/integration/main.rs
  tests_disabled/integration/mod.rs
Due: git, ui

fix CBOM generation
  .github/workflows/security.yml
  deny.toml
Due: none

fix test coverage
  .github/workflows/ci.yml
  tarpaulin.toml
Due: none
